body {
    font-family: sans-serif;
}
.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 5px solid;
    width: 40%;
    margin: auto;
    background-color: rgb(247, 243, 237);
    color: chocolate;
}

h2 {
    text-align: center;
}
form {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
td {
    padding-top: 20px;
}
td:first-child {
    font-weight: bold;
}
input[name=submit] {
    color: #033881;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: #d8e5f5;
    border: 1px solid #033881;
}
#btn {
    text-align: center;
    padding-bottom: 30px;
}